html{
    width: 100%;
    height: 100%;
}

body{
    font-size: 12px;
    font-family: Arial, Georgia, Times;
    background-color: #f5f5f5 !important;
    width: 100%;
    height: 100%;
}

#accordion{
    width: 200px;
}

.cursor{
    cursor: pointer;
}

.control-label{
    text-align: left !important;
}

.text-der{
    text-align: right !important;
}
.pad-izq{
    padding-left: 0px !important;
}

.pad-der{
    padding-right: 0px !important;    
}
.pad-der-10{
    padding-right: 10px !important;
}

.float-der{
    float: right !important;
}
.marg-abajo{
    margin-bottom: 0px !important;
}

.vertical-mitad{
    vertical-align: middle !important;
}

.vertical-abajo{
    vertical-align: bottom !important;
}

textarea {
    resize: none;
}

.datepicker{z-index:1151 !important;}

.help-block{
    font-size: 12px;
}

.navbar-nav.navbar-right:last-child{
    margin-right: 0;
}

input[type='file']{
    width: 200px;
}

.jumbotron p{
    font-size: 18px !important;
}

.headerCama{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

a figure{
    text-align: center;
}

.logo{
    width: 200px;
    height: 180px;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.nav .breadcrumb {
    margin: 0 7px;
}

/* header */
.fondo:after {
  content: "";
  /*background: mediumseagreen;*//*url(../images/RAVENO_Ico_color.png) no-repeat 50% 70%;*/
  opacity: 0.1;
  -moz-opacity: .1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: 300px auto;  
}

.fondo{   
  font-size: 44px;
  margin: 24px 10px 24px 10px;
}

/* responsive */
@media (min-width: 768px) {
    .nav .breadcrumb{
        float: left;
        margin: 7px 10px;
    }
}

@media (max-width: 990px) {
    .desaparecer{
        display: none;
    }
    .derecha{
        float: left;
        margin: 0px;
    }
    .menuDerecha{
        margin-left: 10px;
        float: left;
        z-index: 1151 !important;
    }
    .display-flex{
       display: flex !important;
    }
}

.msg-growl{
    font-size: 18px;
}



.texto-rojo {
    color: #930002 !important;
}

.caida {
    background-color: #FBC1C1 !important;
}

.nicturia {
    background-color: #90C3F0 !important;
}

.puertas {
    background-color: #6EA854 !important;
}

.sombra-blanca {
    text-shadow: 0px 0px 4px #f3f3f3 !important;
}

.btn-default-si.active, .btn-default-si-label, .morado-blanco{
    color: rgba(255,255,255,0.9) !important;
    background-color: #9398D8 !important;
}
.agrupar-trs{
    border: 3px solid #CCCCCC !important;
}

.negrita{
    font-weight: bold;
}

#accordionEncuestasFinales > a:hover, #accordionEncuestasFinales > a:focus, #accordionEncuestasIniciales > a:hover, #accordionEncuestasIniciales > a:focus, a:hover > .morado-blanco, a:focus > .morado-blanco{    
    /*color: #23527c;*/
    text-decoration: none !important;
}
.fila{
	padding-top:10px;
	padding-bottom:10px;
}
