/*

verde: rgb(76,215,200);
morado: rgb(147,152,216);
-------------------------------------------------------*/

@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:800,700,400);
@import url(http://fonts.googleapis.com/css?family=Signika:400,600);

@font-face {
  font-family: "Oxygen";
  src: url("../fonts/Oxygen-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Antipasto";
  src: url("../fonts/Antipasto_regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "news-gothic-mt";
  src: url("../fonts/news-gothic-mt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OxygenL";
  src: url("../fonts/Oxygen-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Reset
---------------------------------*/
ul {
    list-style: none;
}

img {
    max-width: 100%;
}

a, a:hover, a:active {
    outline: 0px !important;
    color: rgb(147,152,216);
}

/* Styles
---------------------------------*/
body {
    background: #e1e4ff;
    font-family: 'Oxygen','Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    margin: 0px auto;
    width: 960px;
}

h1, .h1 {
  font-size: 40pt;
  letter-spacing: -4px;
  margin: 0;

  font-family: 'Antipasto','Open Sans', sans-serif;
  line-height: 31pt;
}

.h1b {
  font-size: 35px;
    /*letter-spacing: 1px;*/ 
  margin: 10px 0;

}

h2, .h2 {
    font-size: 18pt;

    font-weight: normal;
    margin: 0px 0 10px 0;
}

h3, .h3 {  
    font-size: 22px;
    margin: 0px 0px 10px 0;
}

h4 {  
    font-size: 20px;

}

h6, .h6 {
    font-size: 15px;
    margin: 10px 0 15px 0;
}

p {
    line-height: 24px;
    margin: 0;
}
img {
    max-width: 100%;
}

input[type="text"], input[type="password"], textarea{
  border-radius: 12px !important;
  border: 1px solid white !important;
}

::-webkit-input-placeholder { color: rgb(147,152,216) !important; }
::-moz-placeholder { color: rgb(147,152,216) !important; } /* firefox 19+ */
:-ms-input-placeholder { color: rgb(147,152,216) !important; } /* ie */
input:-moz-placeholder { color: rgb(147,152,216) !important; }

.container {
  width: 100%;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display: inline-block;
  width: 13px;
  height: 14px;
  /* margin: -1px 4px 0 0; */
  vertical-align: middle;
  background: url(../images/check_radio_sheet.png) left top/ 27px 12px no-repeat;
  cursor: pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -14px top/ 27px 12px no-repeat;
}
button{
  height: 30px;  
}

.form-control {
  height: 30px;
  color: rgb(147,152,216);
  font-size: 11pt;
}

/* Header Styles
---------------------------------*/

#header_wrapper {
    background: white;
    padding: 10px 0px;
    width: 960px;
    position: fixed;
    z-index: 1000;
    height: 60px !important;
}

/*.header_box {
    position: relative;
}*/

.logo {
  float: left;
  position: relative;
  z-index: 2;
  padding: 5px 0 5px 5px;
}

#main-nav{
  text-align: center;  
}
#main-nav ul {
  width: 100%;/*72%;*/
  float: right;
}
.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}
.navbar {
  border: 0px solid #fff;
  /* min-height: 40px; */
  margin-bottom: 0px;
  float: right;
  padding: 0 5px 0 0px;
  width: 700px;
}
.navbar-inverse .navbar-nav > li > a {
    color: rgb(147,152,216);/*#FFF;*/
    padding: 10px;
}
.navStyle {
  float: none;
  padding: 0px;
}
.navStyle ul {
  list-style: none;
  padding: 0px;
}
.navStyle ul li {
  display: inline-block;
  margin: 0 0px;
}
.navStyle ul li:first-child {
  margin: 0 0px 0 0;
}
.navStyle ul li:last-child {
  margin: 0 0 0 0px;
}
.navStyle ul li a {
    display: block;
    font-size: 14px;
    color: #222222;
    text-decoration: none;
    /*text-transform: uppercase;*/
    /*font-weight: 600;*/
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a:hover {
    /*color: rgb(76,215,200);
    background-color: transparent;*/
    text-decoration: underline;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: rgb(147,152,216);
}

.navbar-inverse .navbar-nav > li > a:focus{
  /*  color: #fff;
  background-color: rgb(147,152,216);
  border-radius:5%;*/
  text-decoration: underline;
  color: rgb(147,152,216);
  font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:active {
    color: rgb(147,152,216);
  background-color: transparent;
  border-radius:5%;
}

.link-activo {
  /*color: white !important;
  background-color: rgb(147,152,216);
  border-radius:5%;*/
  text-decoration: underline;
  color: rgb(147,152,216);
  font-weight: bold;
}

.liA{
  width: 11%;

}
.liB{
  width: 33%;
}
.liC{
  width: 24%;
}
.liD{
  width: 19%;
}
.liE{
  width: 13%;

}
/* Top_content
---------------------------------*/

#hero_section {
  background-color: rgb(147,152,216);/*#005490;*/
  position: relative; 
  padding-top: 60px;
}

.login{
  margin: 20px 0 0 0; 
  width: 25.52%;/*245px;*/
  color: white;
  padding: 0 20px;
}

.contenido{
  width: 74.48%;/*715px;*/
  color: white;
  height: 390px;
  overflow-x: hidden; 
  overflow-y: auto;
  padding: 20px;
  background-color: transparent;
  background: url(../images/fondoLogin.png);
  background-repeat: no-repeat;
  /*background-attachment: fixed;
  background-position: 540px 60px;
  background-size: 715px 390px;*/
}
.btnIngresar{
  padding-left: 5px;
}

.hero_section{
    position: relative;
}

#seccion-inicio:after, #seccion-qs:after, #seccion-descargas:after, #seccion-qee:after, #seccion-contacto:after {
  /*content: "";
  background: url(../images/fondoLogin.png)  no-repeat top center / 100% 390px !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;*/
}

.loginComplemento{
  z-index: 1;
  position: relative;
}
.recordarcontrasena{
  font-size: 9.5pt; 
  padding-left: 0px !important; 
  font-family: 'OxygenL','Open Sans', sans-serif;
  letter-spacing: -1px;
  margin-top: 5px;
}
.margenQuienesSomos{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
}

.margenQSImagen{
  width: 10.64%;/*70px;*/
  display: inline-block;
}

.margenQSContenido{
  padding-left: 1.52%;/*10px;*/
  padding-right: 0px;
  width: 88.15%;/*580px;*/
  color: white;
  display: inline-block;
  vertical-align: top;
}

.nombreEquipo{
  font-size: 18px;
  /*line-height: 15px;*/
  font-family: 'news-gothic-mt','Open Sans', sans-serif;
  letter-spacing: 0px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contenidoEquipo{
  font-size: 16px;
  /*line-height: 15px;*/
  letter-spacing: 0px;
}

.margenQSContenido a{
  color: white;
}
/* Services
---------------------------------*/

#descargas {
  z-index: 1;
  position: relative;
}

.service {
    padding: 40px 0 40px;
}

#aboutUs {
    padding: 80px 0;
    background-color: white;
}

.author-avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.member-top {
position: relative;
}

.member-social-link a {
border-radius: 4px;
display: inline-block;
height: 32px;
width: 32px;
text-align: center;
line-height: 32px;
font-size: .9em;
margin-right: 6px;
-webkit-transition: all .25s ease;
-moz-transition: all .25s ease;
-ms-transition: all .25s ease;
-o-transition: all .25s ease;
transition: all .25s ease;
}

/* contacto */
#sub-div-seccion-contacto{
  display: inline-flex;
}
.seccion-contacto-a{
  width: 350px;
    display: inline-block;
}

.seccion-contacto-b{
  width: 330px;
  font-size: 9pt;
  text-align: right;
  padding-right: 5px;
  padding-left: 20px;
  font-weight: bold;
}

/* noticias */
#noticias-div{
  color: rgb(147,152,216);
  padding: 20px;
    display: inline-block;
    background-color: white;
    padding: 15px;
}

#not-principal span{
    padding: 0;
}


#not-principal,#not-detalle{
  vertical-align: top;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 810px;
}

#not-detalle-contenido{
  position: initial;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 68%;
  background-position: center;
}

#not-detalle-contenido:hover {
    filter: alpha(opacity=50);
    opacity: 0.5;
    moz-opacity: .5;
    khtml-opacity: .5;
}

#not-detalle-contenido img{
  height: 60%;
  width: 96%;
  margin: 2%;
  position: absolute;
  bottom: 0;
  left: -0.3%;
}

#not-principal-imagen { 
  text-align: center;
}
#not-principal-imagen img{  
  text-align: center;
  border: 1px solid rgb(76,215,200);
  padding: 5px;

  margin: 0px;
}

#not-principal-contenido{
  text-align: justify;
  font-size: 15px;
  margin: 0px 0px 10px 0;
}
#not-detalle-titulo{
  height: 2em;
  line-height: 1;
  overflow: hidden;
    display: block;
}
#not-detalle-titulo:after{
  /*content: "";*/
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
#not-detalle-titulo span{
  display: inline-block;
    display: -webkit-inline-box;
    max-height: 100%;
    vertical-align: middle;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
#not-detalle-fecha{
  font-size: 12px;
}
.titulo-seccion{
  font-size: 20pt;
  padding-bottom: 20px;
  text-align: left;
  margin: 0px;
  color: white;
  /*font-family: 'Antipasto','Open Sans', sans-serif;*/
  font-weight: bold;
}

.centrado{
  text-align: center;
}
.not-detalle-noticia{
  height: 250px ;
  background-color: rgb(224,238,254);
  padding: 10px;
  margin: 15px;
  position: relative;
  width: 99%;
}
.width31{ 
  width: 30.13%;
}
#not-detalle-ver{
  float: right;
}
.not-detalle-noticia span{
  padding: 0px;
}
#div-no-oculto{
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 840px; /* es 3* 280px;*/
}
#not-detalle{
  /*overflow-x: hidden;
  overflow-y: auto;
  max-height: 800px; */
}

#volver-not{
  padding: 15px 0px;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

/* Footer
---------------------------------*/

.footer_wrapper {
    background-color: rgb(147,152,216);
}

.footer_bottom {
    color: white;
    padding: 85px 0;
    text-align: center;
    height: 250px;
}



/* Animation Timers
---------------------------------*/
.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

.btn{
  border-radius: 12px;
  padding: 0 12px;
}

.btn-primary-verde {
    background-color: rgb(76,215,200);
    border-color: rgb(76,215,200);
}

.btn-primary-verde:hover {
    color: #fff;
    background-color: rgb(147,152,216);
    border-color: rgb(76,215,200);
}
.btn-primary-morado {
  color: white;
    background-color: rgb(147,152,216);
    border-color: rgb(147,152,216);
}

.btn-primary-morado:hover {
    color: #fff;
    background-color: rgb(76,215,200);
    border-color: rgb(147,152,216);
}
.btn-primary-gris {
  color: black;
    background-color: #EFEFEF;
    border-color: #EFEFEF;
}

.btn-primary-gris:hover {
    color: #fff;
    background-color: rgb(76,215,200);
    border-color: #EFEFEF;
}

.padR0{
    padding-right: 0px;
}

.padL0{
    padding-left: 0px;
}

.pad0{
  padding: 0px;
}

.negrita{
  font-weight: bold;
}

.texto-derecha{
  text-align: right;
}

.texto-izq{
  text-align: left;
}

.texto-justificado{
  text-align: justify;
}

.manito{
  cursor: pointer;
}

.marg20b{
  margin: 0 0 20px 0;
}

.fDerecha{
  float: right;
}

.fIzquierda{
  float: left;
}
/*
   Media Queries
--------------------------- */

@media (max-width: 960px){
.liA{
  width: 8%;
}
.liB{
  width: 23%;
}
.liC{
  width: 17%;
}
.liD{
  width: 16%;
}
.liE{
  width: 16%;
}
}

@media (max-width: 768px) {
.navbar{
  /*display: none;*/
  width: 100%;
}
.navbar-nav {
  margin: 0px;
}
.navbar-nav li a{
  font-size: 13px !important;  
  padding: 10px 1px !important; 
}
.liA{
  width: 10%;
}
.liB{
  width: 29%;
}
.liC{
  width: 20%;
}
.liD{
  width: 14%;
}
.liE{
  width: 18%;
}
.login{
  display: inline;/*inline-block;*/
  width: 100%;/*25%*/
}
#frmLogin{
  padding: 0px 20px 0px 20px;
}
.contenido{
  /*display: inline-block;
  vertical-align: top;*/
  width: 100%;
}
.footer_wrapper{
  width:100%;
}
body{
  width:95%;
}
#header_wrapper{
  width:95%;
}
.logo{
  display:none;
}
.width31 {
  width: 93%;
}
.checkbox{
  width: 50%;
  display: inline-block;
}
.btnIngresar{
  float: right;
  display: inline;
  margin-bottom: 20px;
}
#sub-div-seccion-contacto{
  display: block;
  text-align: center;
}
.seccion-contacto-b{
  width: 100%;
  text-align: left;
  padding-left: 0px;
  margin-top: 10px;
}
#not-detalle{
  display: none;
}
#not-principal{
  width:94%;
}
#noticias-div{  
  width: 100%;
}

} 

@media (max-width: 701px) {
.navbar-nav li a{
  font-size: 12px !important; 
  padding: 10px 1px !important; 
}
.liA{
  width: 8%;
}
.liB{
  width: 27%;
}
.liC{
  width: 19%;
}
.liD{
  width: 16%;
}
.liE{
  width: 16%;
}
.login{
  /*width: 25%;*/
}
.contenido{
  /*width: 74.4%;*/
}
#noticias-div{
  width: 100%;
}
.width31 {
  width: 93%;
}
#not-detalle{
  display: none;
}
#not-principal{
  width:94%;
}
}

@media (max-width: 767px) { /*de una noticia*/
 
  #not-detalle-contenido{
    display: block;  
  }

}

@media (max-width: 625px) {
.liA{
  width: 8%;
}
.liB{
  width: 27%;
}
.liC{
  width: 20%;
}
.liD{
  width: 14%;
}
.liE{
  width: 13%;
}
.login{
  /*width: 24.5%;*/
}
.contenido{
  ]/*width: 74.7%;*/
}
#noticias-div{
  width: 100%;
}
.width31 {
  width: 93%;
}
#not-detalle{
  display: none;
}
#not-principal{
  width:94%;
}
}

@media (max-width: 575px) {
.navbar-nav li a{
  font-size: 12px !important; 
  padding: 10px 1px !important; 
}
.liA{
  width: 8%;
}
.liB{
  width: 30%;
}
.liC{
  width: 21%;
}
.liD{
  width: 14%;
}
.liE{
  width: 13%;
}
}

@media (max-width: 480px){
.navbar{
  display: none;
}
#seccion-inicio, #seccion-qee, #seccion-qs, #seccion-descargas, #descargas, #seccion-contacto{
  display: none;
}
.login{
  width:100%;
  margin: 20px 0 20px 0 !important;
}
.footer_wrapper{
  width:100%;
}
body{
  width:95%;
}
#header_wrapper{
  width:95%;
}
.logo{
  text-align: center;
  float: none;
  display: block;
}
.width31 {
  width: 93%;
}
.checkbox{
  width: 60%;
  display: inline-block;
}
.btnIngresar{
  float: right;
  display: inline;
}
#not-detalle{
  display: none;
}
#not-principal{
  width:94%;
}
}


