.div-fondo{
  margin-top: 100px;
}

@media (max-width: 1000px) {
    .desaparecer{
        display: none;
    }
    .div-fondo{
      margin-top: 0px;
    }
    body{
      padding: 0px;
      font-size: 13px;
    }
    .fondo{   
      font-size: 40px;
      margin: 10px 5px 10px 5px;
      text-align: center; 
    }
}

.div-logo{
  padding-left: 0px !important;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}