        /*
 * Style tweaks
 * --------------------------------------------------
 */
 html,
 body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/*footer {
  padding: 30px 0;
  }*/

/*
 * Off Canvas
 * --------------------------------------------------
 */
 @media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  .active < .row-offcanvas-left
  .sidebar-offcanvas {
    left: -60%;
  }
}